[*.cs]

# IDE0059: Unnecessary assignment of a value
csharp_style_unused_value_assignment_preference = discard_variable:warning

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = warning
